<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <title>
    {% if page.title %}
      {% if page.title == 'Home' %}
        {{ site.title }}
      {% else %}
        {{ page.title }} &middot; {{ site.title }}
      {% endif %}
    {% else %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/hyde.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT%20Sans%3A400%2C400italic%2C700%7CAbril%20Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="ATOM Feed" href="{{ site.baseurl }}/atom.xml">
</head>
